/* .animation {
  width: 300px;
  height: 300px;
  background-color: #eee;
  align-items: center;
  margin-top: 50px;
} */

.loading-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loadingBox .dim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.loadingBox .circle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 10px solid #fff;
  border-top: 10px solid red;
  border-radius: 50em;
}

@keyframes spinCircle {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loadingBox .circle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 10px solid #fff;
  border-top: 10px solid red;
  border-radius: 50em;
  animation-name: spinCircle;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.loadingBox .circle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 10px solid #fff;
  border-top: 10px solid red;
  border-radius: 50em;
  transition: all 0.2s;
  animation-name: spinCircle;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
